body{
  background-image: linear-gradient(skyblue, lightgreen, skyblue, lightgreen, skyblue, lightgreen);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  }


img {
    position:relative;
    width:100%;
    height:auto;
  }

.logo {
position:relative;
  width:30%;
  height:auto;
}

h1{
font-style: normal;
font-family: sans-serif;
}

.columnimage{
  height: 20px;
  width: 100px;
  border-radius: 50%;
}
.socials{
align-self: flex-end;

}
